<div class="col-md-12">
  <% if current_user && current_user == @group.user %>
    <div class="edit">
      <%= link_to("Edit", edit_group_path(@group), class:"btn btn-primary pull-right") %>
    </div>
  <% end %>

  <h1><%= @group.title %></h1>

  <p><%= @group.description %></p>

</div>
